@model WebApplication2.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <div class="form-group">
                <p>登录</p>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <p>密码</p>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" value="Login" class="btn btn-default"/>
        }
    </div>
</body>
</html>
