@model IEnumerable<WebApplication2.Models.Director>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>@Html.ActionLink("Create New","Create")</p>
        <table>
           <tr>
               <th>
                   @Html.DisplayNameFor(model=>model.Name)
               </th>
               <th>
                   @Html.DisplayNameFor(model=>model.Address)
               </th>
           </tr>
            @foreach (var item in Model)
            {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
            <th>
                    @Html.DisplayFor(modelItem => item.Address)
            </th>
                <th>
                    @Html.ActionLink("Delete","Delete",new { id=item.ID }) /
                    @Html.ActionLink("Edit","Edit",new { id = item.ID })
                </th>
   

            </tr>
            }
            
        </table>
    </div>
  
</body>
</html>
